#banner{background-color: black;}
#banner .swiper-slide{
  transition: 0.5s;
  opacity: .5;
  position: relative;
}

#banner.pc_slide-initialized .swiper-slide-active,
#banner.pc_slide-initialized .swiper-slide-duplicate-active{
  opacity: 1;
  overflow: visible;
}

#banner.pc_slide-initialized .swiper-slide-active div,
#banner.pc_slide-initialized .swiper-slide-duplicate-active div{
  color: red;
  font-size: 50px;
  font-weight: bold;
  width: 70vw;
  position: absolute;
  top: 0; height: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
}

